body{
	background-color: #000;
}

#bgVideo {
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
/*	opacity: 0.1; */
}

#contentVideoContainer{

}

#contentVideo {
	width: 100%;
	z-index: 50;
	-webkit-mask-box-image: url('../img/videoMask.png');
}

#contentVideoShadow{
	width: 100%;
}

#debugContainer{
	position:fixed;
	width:100%;
	top: 40px;
}

#debugControls{
	float:right;
	margin-right: 25px;
}

.fadeOut{
	opacity: 0;
	-webkit-transition: opacity 0.5s ease-in-out;	
}

.fadeIn{
	opacity: 1;
	-webkit-transition: opacity 0.5s ease-in-out;	
}
